<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <display-name>specasap</display-name>
   
   	<context-param>
		<param-name>MONGODB_HOST</param-name>
		<!-- For Local Docker Container -->
		<param-value>192.168.99.100</param-value>
		<!-- For Amazon AWS Docker Container this may create a problem if the EC2 ip changes-->
		<!--<param-value>172.30.3.182</param-value>-->
		<!-- Amazon AWS public IP -->
		<!--<param-value>34.207.173.202</param-value>-->
	</context-param>
	<context-param>
		<param-name>MONGODB_PORT1</param-name>
		<param-value>27017</param-value>
	</context-param>
		<context-param>
		<param-name>MONGODB_PORT2</param-name>
		<param-value>30002</param-value>
	</context-param>
		<context-param>
		<param-name>MONGODB_PORT3</param-name>
		<param-value>30003</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_DATABASE</param-name>
		<param-value>spec</param-value>
	</context-param>
	
	<context-param>
		<param-name>MONGODB_USER</param-name>
		<param-value>gonzo_ro</param-value>
	</context-param>
		<context-param>
		<param-name>MONGODB_PWD</param-name>
		<param-value>aside555</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_AUTH_DATABASE</param-name>
		<param-value>spec</param-value>
	</context-param>
	
	
	
	<listener>
	<listener-class>
             net.services.api.specasap.listeners.MongoDBContextListener
        </listener-class>
   </listener>
   
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>net.services.api.</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/webapi/*</url-pattern>
    </servlet-mapping>
</web-app>
